*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main{
    background: #f5f5f5;
}

.container{
    margin: 0 auto;
    width: 1226px;    
}

.container-header{
    background: #333;
}
.header{
    height: 40px;
    background-color: #333;
}

.header ul{
    color: #b0b0b0;
    font-size: .5em;
    align-items: center;
    line-height: 40px;
    display: inline;
}

.header ul:last-child{
    float: right;
}

.header ul li{
    display: inline;
    margin-right: 5px;
    cursor: pointer;
}

.header ul li:hover{
    color: #fff;
}

.container-footer{
    background: #fff;
}
.footer{
    background-color: #fff;
    height: 272px;
    clear: both;
}

.footer .footer-head{
    height: 80px;
}

.footer .footer-head ul{
    list-style: none;
    color: #616161;
    font-size: 16px;
    line-height: 80px;
}

.footer .footer-head ul li{
    float: left;
    width: 20%;
    text-align: center;
}

.footer-body{
    padding: 20px 0 ;
}

.footer-body .footer-body-items{
    width: 80%;
    float: left;
}

.footer-body .footer-body-items dl{
    width: 16%;
    float: left;
    /* text-align: center; */
}

.footer-body .footer-body-items dl dt{
    font-size: 14px;
    color: #424242;
    height: 40px;
}

.footer-body .footer-body-items dl dd{
    font-size: 12px;
    color: #7f7f7f;
    height: 29px;
}

.footer-body .footer-phone{
    width: 20%;
    float: left;
}

.footer .footer-phone .phone{
    color: #ff6700;
    font-size: 20px;
    text-align: center;
}

.footer .footer-phone .text{
    color: #616161;
    font-size: 12px;
    text-align: center;
}

.footer .footer-phone .button{
    border: #ff6700 1px solid;
    border-radius: .2em;
    font-size: 12px;
    color: #ff6700;
    text-align: center;
    width: 120px;
    height: 30px;
    line-height: 30px;
    margin: 20px auto 3px;
}


 .nav{
    height: 100px;
}

.logo{
    float: left;
    /* background: url(imgs/mi-logo.png) no-repeat  center; */
    background-color: #ff6700;
    height: 55px;
    width: 55px;
    margin-right: 190px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
}

.logo::before, .logo::after{
    top: 0;
    left: 0;
    position: absolute;
    height: 55px;
    width: 55px;
    content: ''; 
    transition: all .5s;
    content: '';
}

.logo::before{
    opacity: 1;
    background: url(imgs/mi-logo.png) no-repeat 50% 50%;
    transform: translate(0, 0);
}
.logo:hover::before{
    opacity: 0;
    transform: translateX(55px);
}
.logo::after{
    opacity: 0;
    background: url(imgs/mi-home.png) no-repeat 50% 50%;
    transform: translate(0, 0);
    margin-left: -55px;
}
.logo:hover::after{
    opacity: 1;
    transform: translateX(55px);
}

.container-nav{
    background: #fff;
    padding-bottom: 10px;
}

/* 导航nav条 start */
.nav ul{
    display: inline;
    line-height: 100px;
}

.nav ul li{
    display: inline;
    margin-right: 20px;
    cursor: pointer;
}

.nav ul li:hover{
    color: #ff6700;
}

/* 导航nav条 end */

/* 导航条 nav 下拉显示的 start */
.nav-drop-menu{
    position: absolute;
    /* height: 230px; */
    height: 0;
    width: 100%;
    background: #fff;
    display: block;
    /* border-top: 1px solid #e0e0e0; */
    transition: .5s;
    z-index: 10;
    /* border-bottom: 1px solid #e0e0e0; */
    transition:  height 500ms;
    overflow: hidden;
}

.nav-drop-menu ul li{
    list-style: none;
    display: inline-block;
    padding: 35px 12px 0;
    width: 16.3%;
}
.nav-drop-menu ul li img{
    width: 160px;
    height: 110px;
}
.nav-drop-menu ul li .title{
    color: #333;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
}

.nav-drop-menu ul li .price{
    color: #ff6700;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
}
/* 导航条 nav 下拉显示的 end */

 .banner{
    position: relative;
    height: 460px;
    /* background: url(imgs/banner1.jpg) no-repeat 50% 50%; */
    /* background-position: right top; */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
}

.banner .banner-real{
    position: absolute;
    height: 100%;
    width: 100%;
    cursor: pointer;
    /* background: url(imgs/banner1.jpg) no-repeat 100% 100%; */
    /* background-size: cover; */
}
.banner .banner-left, .banner .banner-right{
    position: absolute;
    top: 40%;
    z-index: 20;
    height: 69px;
    width: 41px;
}
.banner .banner-left{
    left: 234px;
    background: url(imgs/icon-slides.png) no-repeat -84px 50%;
}
.banner  .banner-left:hover{
    background-position-x: 0;
    cursor: pointer;
}
.banner .banner-right{
    right: 0;
    background: url(imgs/icon-slides.png) no-repeat -125px 50%;
}
.banner .banner-right:hover{
    background-position-x: -41px;
    cursor: pointer;
}

.banner .banner-real .banner-item{
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 1s ;
}
.banner .banner-real .banner-item.active{
    opacity: 1;
}
.banner .banner-real .banner-item img{
    height: 100%;
}

.banner  .pagination{
    width: 400px;
    height: 21px;
    position: absolute;
    bottom: 20px;
    right: 10px;

    padding-right: 30px;
    text-align: right;
}

.banner .pagination .pagination-item{
    border: 1.7px solid hsla(0,10%,50%,.9);
    border-radius: 10px;
    height: 12px;
    width: 12px;
    margin-right: 20px;
    display: inline-block;
    vertical-align: auto;
    background: hsla(0,0%,0,.4);
    cursor: pointer;
}

.banner  .pagination .pagination-item.active, .banner  .pagination .pagination-item:hover{
    background: #ff6700;
}

 .banner .catagory{
    background-color: rgba(105,101,101,.6);
    width: 234px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    
}

 .banner .catagory ul{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
    list-style: none;
}

 .banner .catagory ul li{
    line-height: 42px;
    padding-left: 30px;
    cursor: pointer;
}
 .banner .catagory ul li:hover{
    background: #ff6700;
}

 .banner .catagory ul li .catagory-detail{
    position: absolute;
    top: 0;
    left: 234px;
    height: 100%;
    z-index: 24;
    box-shadow: 0 8px 16px rgba(0,0,0,.18);
    /* width: 992px; */
    /* width: 100%; */
    border: .5px solid #e0e0e0;
    background: #fff;
    display: none;
}

 .banner .catagory ul li .catagory-detail ul{
    color: #757575;
    margin: 0;
    padding: 0;
    float: left;
    width: 247px;
}

 .banner .catagory ul li .catagory-detail ul li{
    padding: 18px 20px;
    line-height: 40px;
    margin: 0;
    cursor: pointer;
}

 .banner .catagory ul li .catagory-detail ul li:hover{
    color: #ff6700;
    background: #fff;
}

 .banner .catagory ul li .catagory-detail ul li span{
    /* color: #757575; */
    font-size: 14px;
}

 .banner .catagory ul li .catagory-detail ul li img{
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-right: 12px;
}

 .raw{
    margin-top: 10px;
    /* height: 170px; */
    height: 100%;
}

 .raw .raw-one{
    height: 170px;
    /* width: 234px; */
    padding: 3px;
    display: inline-block;

}

 .raw .raw-one .raw-item{
    width: 30%;
    height: 50%;
    padding: .5px;
    display: inline-block;
    text-align: center;
    overflow: hidden;

}

 .raw .raw-one .raw-item img{
    width: 24px;
    margin-top: 18px;
}

 .raw .raw-one .raw-item span{
    color: #fff; 
    font-size: 12px;
    display: block;
}

 .raw .raw-first{
    background-color: #5f5750;
    width: 234px;
}

 .raw .raw-img{
    width: 316px;
    height: 170px;
    margin-left: 9.8px;
}
 .raw .raw-img.img1{
    background: url("imgs/img1.jpg");
    background-size: cover;
}

 .raw .raw-img.img2{
    background: url("imgs/img2.jpg");
    background-size: cover;
}

 .raw .raw-img.img3{
    background: url("imgs/img3.jpg");
    background-size: cover;
}


.us{
    clear: both;
    height: 220px;
}

.us .logo{
    margin-right: 6px;
}
.us .us-info{
    padding-left: 65px;
}

.us .us-info .product{
    color: #757575;
    font-size: 12px;
    padding-top: 20px;
}

.us .us-info .text{
    color: #b0b0b0;
    font-size: 12px;
}
.us .us-info .us-cert{
    margin-top: 5px;
}
.us .us-info .us-cert img{
    width: 85px;
    height: 28px;
}

.us .us-info .slogan{
    box-sizing: border-box;
    text-align: center;
    padding-top:20px ;
    
}

.us .us-info .slogan img{
    height: 100%;
}

.container-detail{
    padding: 20px 0;
}

.detail{
    color: #333;
    font-size: 22px;
    font-weight: 200;
}



.detail img{
    margin-top: 10px;
}

.detail .title{
    height: 58px;
    vertical-align: center;
}

.detail .title .title-name{
    line-height: 58px;
}

.detail .detail-body{
    height: 339px;
}

.detail1 .buttons{
    float: right;
}

.detail1 .detail1-first{
    height: 100%;
    width: 234px;
    background: #f1eded;
    float: left;
    border-top: 1px solid green;
}

.detail1 .detail1-first p{
    color: #ef3a3b;
    font-size: 21px;
    text-align: center;
    margin-top: 40px;
}

.detail1 .detail1-first img{
    width: 34px;
    height: 53px;
    margin: 30px auto 0;
    display: block;
}

.detail1 .detail1-banner{
    width: 978px;
    height: 100%;
    float: left;
    margin-left: 10px;
    overflow: hidden;
}
.detail1 .detail1-banner ul{
    list-style: none;
}

.detail1 .detail1-banner ul li{
    width: 234px;
    /* display: inline-block; */
    float: left;
    border-top: 1px solid red;
    margin-left: 10px;
}

.detail1 .detail1-banner ul li .detail1-banner-item img{
    text-align: center;
    display: block;
    margin: 10px auto;
}

.detail1 .detail1-banner ul li .detail1-banner-item .item-title{
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    color: #212121;
    margin: 0 20px;
}

.detail1 .detail1-banner ul li .detail1-banner-item .item-desc{
    font-size: 12px;
    text-align: center;

    color: #b0b0b0;
    height: 18px;
    margin: 5px 20px 12px;
}

.detail1 .detail1-banner ul li .detail1-banner-item .price{
    color: #ff6700;
    text-align: center;
    font-size: 14px;
}

.detail1 .detail1-banner ul li .detail1-banner-item .price span{
    color: #444;
}